.form-my-account {
    max-width: 600px;

    .container-remember {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .error-form {
        margin-top: 10px;
        margin-bottom: 10px;
        @include medium;
        color: $red;
        font-size: 0.9rem;
    }

    .form-updated {
        margin-top: 10px;
        margin-bottom: 10px;
        @include medium;
        color: $green;
        font-size: 0.9rem;
    }

    &.form-pass {
        margin-top: 40px;
    }
}
