.form-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .avatar {
        width: 270px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px $box-shadow;
        margin-bottom: 10px;
    }

    .non-avatar {
        width: 270px;
        margin-bottom: 10px;
    }

    .link-button {
        font-size: 1rem;
        @include semi-bold;
    }

    .file-name {
        display: none;
    }
}
