.my-account {
    .container-white {
        height: fit-content;
        max-width: fit-content;
        margin: auto;

        .container-forms {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            max-width: 820px;

            @include md {
                grid-template-columns: 1fr 2fr;
            }
        }
    }
}
