.modal-request {
    .all-day {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .checkbox-field {
            font-size: 1.1rem;
            @include semi-bold;

            .checkmark {
                transform: translateY(2px);
            }
        }
    }
}
