.filter-modal {
    .container-date {
        display: grid;
        grid-template-columns: 1fr;

        @include md {
            grid-template-columns: 1fr 1fr;
        }

        grid-gap: 10px;
    }
}
