.form-create-user {
    .col-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .col-3 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;

        @include md {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .container-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        .button {
            width: 100%;

            @include md {
                width: fit-content;
            }
        }

        &.container-password {
            margin-bottom: 20px;

            .button {
                font-size: 0.9rem;
                padding: 6px 12px;
                min-height: 12px;
                width: 100%;

                @include md {
                    width: fit-content;
                }
            }
        }
    }

    .extra-space {
        margin-top: 10px;
    }
}
