.form-create-user {
    .col-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .container-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;

        .button {
            max-width: fit-content;
        }
    }
}
