.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    @include md {
        grid-template-columns: 1fr 1fr;
    }

    height: calc(100% - (100px + 150px));

    .container-white {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.container {
        @include md {
            max-width: 960px;
        }
    }
}
