.paginated-days-off {
    .container-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        @include md {
            flex-direction: row;
        }

        .button {
            width: 100%;

            @include md {
                width: fit-content;
            }
        }
    }
}
