.start-stop {
    margin-bottom: 20px;

    .current-time {
        margin-top: 10px;
        font-size: 1.1rem;
        @include semi-bold;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        margin-bottom: 10px;
    }
}
