html {
    font-size: 16px;
    @include regular;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;

    @include sm {
        max-width: 540px;
    }

    @include md {
        max-width: 720px;
    }

    @include lg {
        max-width: 960px;
    }

    @include xl {
        max-width: 1140px;
    }

    @include xxl {
        max-width: 1320px;
    }
}
