.requests-manager {
    h2 {
        font-size: 1.5rem;
        @include bold;
        margin-bottom: 20px;
    }

    .options-request {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;

        @include md {
            flex-direction: row;
            margin-bottom: 0px;
        }

        .filter {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-direction: column;

            @include md {
                flex-direction: row;
            }

            .input-field {
                width: 100%;

                @include md {
                    width: fit-content;
                }
            }
        }
    }
}
