.requests {
    .container-white {
        margin-bottom: 20px;
    }

    h2 {
        margin-left: 15px;
        font-size: 1.5rem;
        @include bold;
    }

    .line {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 15px;
        border: 2px solid $blue;
        border-radius: 4px;

        &:hover {
            box-shadow: 0px 3px 6px $box-shadow-hight;
            transition: 0.2s;
        }

        .line-user {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                @include semi-bold;
                font-size: 1.3rem;
            }

            span {
                padding: 5px;
            }
        }

        &.contracted {
            &:hover {
                cursor: pointer;
            }
        }

        &.expanded {
            .line-user {
                span {
                    &:hover {
                        cursor: pointer;
                    }
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .title {
            @include semi-bold;
            font-size: 1.1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.3rem;
        }

        .message {
        }

        .times {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 20px;
        }

        .container-buttons {
            margin-top: 15px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .button {
                max-width: fit-content;
            }
        }
    }
}
